.header {
  background: $primary-red;
  font-size: 20px;
  .container {
    max-width: 1320px;
    padding: 0 12px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-large {
      padding: 0;
      flex-wrap: wrap;
    }
  }
  .logo {
    width: 80px;
    padding: 12px 0;
    @include mobile-large {
      padding-left: 12px;
    }

    img {
      max-width: 100%;
      vertical-align: top;
    }
    .main-title {
      width: 1px;
      height: 1px;
      overflow: hidden;
      position: absolute;
    }
  }
  .menu-list {
    display: flex;
    gap: 64px;
    @include mobile-large {
      width: 100%;
      flex-wrap: wrap;
      gap: 0;
      .menu-item {
        width: calc(50% - 2px);
        border: 1px solid #fff;
        text-align: center;
      }
    }

    a {
      text-decoration: none;
      color: $text-white;
      transition: 0.3s;
      display: block;
      @include mobile-large {
        padding: 12px 62px;
      }
      &:hover {
        color: #000;
      }
    }
  }
}
