<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <title>Product</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 導覽列 -->
    <div class="nav">
      <div class="container">
        <nav>
          <ul class="nav-bar">
            <li><a href="#">OPTICAL</a></li>
            <li><a href="#">SUNGLASSES</a></li>
            <li><a href="#">FUNCTIONAL</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- banner區塊 -->
    <section class="banner">
      <div class="container">
        <picture>
          <source
            srcset="
              https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true
            "
            media="(max-width:992px)"
          />
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true"
            alt="picture"
          />
        </picture>
        <picture>
          <source
            srcset="
              https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true
            "
            media="(max-width:992px)"
          />
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true"
            alt="picture"
          />
        </picture>
      </div>
    </section>

    <!-- 產品區 -->
    <section class="product">
      <div class="container">
        <div class="main-title">
          <h2 class="title-eng">Celluloid Combi</h2>
          <h2>賽璐珞鈦金屬混合鏡框</h2>
        </div>
        <div class="main-content">
          <div class="product-list">
            <div class="product-item">
              <div class="pic">
                <a href="#">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="#">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <a href="">
                <div class="pic">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                    alt="product"
                  />
              </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
            <div class="product-item">
              <div class="pic">
                <a href="">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true"
                    alt="product"
                  />
                </a>
              </div>
              <div class="txt">
                <span class="model">BJ41600S</span>
                <span class="price">NTD3,490</span>
              </div>
              <div class="color-select">
                <a href="#" class="color1"></a><a href="#" class="color2"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 頁數區 -->
    <section class="pagenation">
      <div class="container">
        <div class="wrap">
          <a href="#" class="move-page">上一頁</a>
          <a href="#" class="number">1</a>
          <a href="#" class="number active">2</a>
          <a href="#" class="number">3</a>
          <a href="#" class="number">4</a>
          <a href="#" class="number">5</a>
          <a href="#" class="move-page">下一頁</a>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
