<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>門市據點</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="section-stores-list">
      <div class="container">
        <div class="title">
          <h2>門市據點</h2>
        </div>

        <div class="select">
          <label for="stores">選擇地區</label>
          <select name="stores" id="stores">
            <option value="台北市">台北市</option>
            <option value="台中市">台中市</option>
            <option value="高雄市">高雄市</option>
          </select>
        </div>

        <div class="stores-list">
          <div class="store-item">
            <div class="pic">
              <a href="#">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                  alt="store"
                />
              </a>
            </div>
            <div class="txt">
              <h3>台北中山旗艦店</h3>
              <div class="contact">
                <p>
                  <span class="material-symbols-outlined"> call </span
                  ><span>電話：(02)000-1234</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span
                  ><span>地址：台北市中山區南京東路25巷2-1號</span>
                </p>
              </div>
            </div>

            <div class="more">
              <a href="#" class="btn">詳細資訊</a>
            </div>
          </div>
          <div class="store-item">
            <div class="pic">
              <a href="#">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
                  alt="store"
                />
              </a>
            </div>
            <div class="txt">
              <h3>台北綠園店</h3>
              <div class="contact">
                <p>
                  <span class="material-symbols-outlined"> call </span
                  ><span>電話：(02)000-2345</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span
                  ><span>地址：台北市中正區復興南路 132-1 號</span>
                </p>
              </div>
            </div>

            <div class="more">
              <a href="#" class="btn">詳細資訊</a>
            </div>
          </div>
          <div class="store-item">
            <div class="pic">
              <a href="#">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
                  alt="store"
                />
              </a>
            </div>
            <div class="txt">
              <h3>台中清水旗艦店</h3>
              <div class="contact">
                <p>
                  <span class="material-symbols-outlined"> call </span
                  ><span>電話：(02)000-1234</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span
                  ><span>地址：台中市清水區經南一路 23 號 8 樓</span>
                </p>
              </div>
            </div>

            <div class="more">
              <a href="#" class="btn">詳細資訊</a>
            </div>
          </div>
          <div class="store-item">
            <div class="pic">
              <a href="#">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
                  alt="store"
                />
              </a>
            </div>
            <div class="txt">
              <h3>高雄中正形象店</h3>
              <div class="contact">
                <p>
                  <span class="material-symbols-outlined"> call </span
                  ><span>電話：(07)000-2345</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span
                  ><span>地址：高雄市苓雅區中正路 38 號 12 樓</span>
                </p>
              </div>
            </div>

            <div class="more">
              <a href="#" class="btn">詳細資訊</a>
            </div>
          </div>
          <div class="store-item">
            <div class="pic">
              <a href="#">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
                  alt="store"
                />
              </a>
            </div>
            <div class="txt">
              <h3>高雄夢時代店</h3>
              <div class="contact">
                <p>
                  <span class="material-symbols-outlined"> call </span
                  ><span>電話：(07)000-1234</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span
                  ><span>地址：高雄市前鎮區中華一路 63 號 6 樓</span>
                </p>
              </div>
            </div>

            <div class="more">
              <a href="#" class="btn">詳細資訊</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
